@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}

html, body{
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 16px;
}

header{
	background-image: url('../images/background.png');
	background-color: #26aeec;
	margin: 0px;
}

nav{
	display: block; 
}

p{
	line-height: 1.5em;
}

.menu li{
	color: white;
	font-size: 20px;
	display: inline-block;
	background-color: 26aeec;
	font-weight: bold;
	padding: 8px;
	list-style-type: none;
}

.menu li:hover {
  background-color: white;
  color: #26aeec;
}

#site-title{
	color: white;
	text-align: center;
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 10px;
}

#site-subtitle{
	font-size: 20px;
}

.wrapper{
	display:block;
}

article{
	background-color: grey;
	margin-bottom: 16px;
}

.text{
	background-color: lightGrey;
	padding: 6px;
	color: #090903;
}

h2{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	color: white;
	margin: 0px;
	color: #090903;
}

.citation{
	color: #26aeec;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
}

.blog{
	float: left;
	width: 68%;
	padding-left: 1%;
	padding-right:1%;
}

.subscribe{
	background-color: #FFCC00;
	width: 27%;
	padding-left: 1%;
	padding-right:1%;
	border: 3px dotted #FF9900;
	border-radius: 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

label{
	font-size: 30px;
}

footer{
	display: block;
	background-color: #2C2C2C;
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: white;
	height: 140px;
	clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.landingpage{
	display: block;
}

.tagline{
	text-align: center;
}

.sm-btn, input.button{
	margin-top: 6px;
	display:inline-block;
	border-radius:5px;
	text-align: center;
	text-decoration: none;
	color: #26aeec;
	background-color: white;
	border: 2px solid #26aeec;
	margin-left: 15px;
	padding: 7px;
}