@charset "utf-8";


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::selection{
	background: green;
	border-color: #FFB00F;
}

html, body{
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 16px;
}

header{
	background-image: url('../images/background.png');
	background-color: #26aeec;
	margin: 0px;
}

nav{
	display: block; 
}

p{
	line-height: 1.5em;
}

article p::first-letter{
	font-size: 140%;
	font-family: serif;
}

.menu li{
	font-size: 1.2em;
	display: inline-block;
	font-weight: bold;
	padding: 8px;
	list-style-type: none;
}

.menu li:hover {
  background-color: white;
  color: #26aeec;
}

.menu-link{
	text-decoration: none;
	color: white;
}

sup{
	font-size: 0.5em;
}

#site-title a{
	display:block;
	color: white;
	text-align: center;
	font-size: 3.75em;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 12px;
	text-decoration: none;
	line-height: 1em;
}

#site-title a:visited{
	text-decoration: none;
}

#site-subtitle{
	font-size: 0.75em;
	color: white;
	font-family: Arial, sans-serif;
	letter-spacing: 6px;
	text-align: center;
}

.wrapper{
	display:block;
}

article{
	background-color: lightGray;
	margin-top: 10px;
	margin-bottom: 26px;
}

article a{
	color: white;
	background-color: #26aeec;
	font-weight: bold;
	padding: 3px;
	text-decoration: none;
}

article a.title{
	color: #090903;
	background-color: lightGray;
}

article li{
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin-left: 20px;
}

.text p{
	font-family: Arial, sans-serif;
	padding: 4px 10px;
	margin-bottom: 20px;
}

.text{
	background-color: #F0F0F0;
	padding: 6px;
	color: #090903;
}

h1{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	color: white;
	margin: 0px;
	color: #090903;
}

h3{
	margin-bottom: 24px;
	color: white;
	background-color: #26aeec;
	display: inline-block;
	padding: 3px;
}

.citation{
	color: #26aeec;
	font-size: 1.8em;
	font-family: sans-serif;
	font-weight: bold;
}

.blog{
	float: left;
	width: 60%;
	padding-left: 20px;
	padding-right:20px;
	margin: 20px 20px;
}

.subscribe{
	background-color: white;
	width: 27%;
	padding-left: 6px;
	padding-right: 6px;
	border: 3px dotted #26aeec;
	border-radius: 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.right{
	float:left;
	margin-right: 8px;
}

@media screen and (max-width: 600px){
	.right{
	display:block;
	}
	.subscribe{
		width: 96%;
		margin-bottom: 10px;
	}
	.blog{
		display:block;
		width: 100%;
	}
}

#mc_embed_signup{
	background:white;
	clear:left;
	font:1em Helvetica,Arial,sans-serif;
	padding:15px;
}

input[type="email"]{
	height:2.5em;
	padding-left:6px;
	width:92%;
	margin: 0 auto;
	border-radius: 3px;
	/*border: #26aeec solid 2px;*/
}

label{
	font-size: 1.8em;
	color:#26aeec;
	line-height: 1.3em;
}

footer{
	display: block;
	background-color: #2C2C2C;
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: white;
	height: 140px;
	clear: both;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}

.lp-footer{
	position:fixed;
}

.landingpage{
	display: block;
}

.tagline{
	text-align: center;
}

.sm-btn, input.button{
	margin-top: 6px;
	display:inline-block;
	border-radius:5px;
	text-align: center;
	text-decoration: none;
	color: #26aeec;
	background-color: white;
	border: 2px solid #26aeec;
	margin-left: 15px;
	padding: 7px;
}