@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::selection{
	background: coral;
	border-color: #FFB00F;
}

html, body{
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 16px;
}

body{
	background-color: slategray;
}

.welcome-mat{
	background-color: #26aeec;
	background-image: url('../images/background-main.jpg');
	background-size: cover;
}

.welcome-mat #mc_embed_signup{
	background-color: white;
}

.welcome-mat .subscribe{
	background-color: white;
	min-width: 80%;
	border: none;
}

.posledno{
	width: 80%;
	margin:0 auto;
}

.welcome-mat label{
	color:#26aeec;
	text-shadow: none;
}

.belezka{
	color: slategray;
	font-size: 0.6em;
	padding-left: 30px;
}

.right .belezka{
	color:white;
}

.welcome-mat a{
	color: #26aeec;
	text-decoration: none;
	font-size: 1.4em;
}

.more{
	background-color: #26aeec;
	padding: 6px 12px;
	border-radius: 6px;
	letter-spacing: 4px;
	font-variant: small-caps;
}

.welcome-mat a:visited{
	color:#26aeec;
}

.space{
	margin:40px 0;
}

.halfspace{
	margin:20px 0;
}

header{
	background-image: url('../images/background.png');
	background-color: #26aeec;
	margin: 0px;
}

nav{
	display: block; 
}

img{
	width:100%;
}

p, li{
	line-height: 1.5em;
}

/*article p::first-letter{
	font-size: 140%;
	font-family: serif;
}*/

.menu li{
	font-size: 1.2em;
	display: inline-block;
	font-weight: bold;
	padding: 8px;
	list-style-type: none;
}

.menu li:hover {
  background-color: white;
  color: #26aeec;
}

.menu-link{
	text-decoration: none;
	color: white;
}

sup{
	font-size: 0.5em;
}

#site-title a{
	display:block;
	color: white;
	text-align: center;
	font-size: 3.75em;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 12px;
	text-decoration: none;
	line-height: 1em;
	font-family: serif;
}

#site-title a:visited{
	text-decoration: none;
}

#site-subtitle{
	font-size: 0.75em;
	color: white;
	font-family: Arial, sans-serif;
	letter-spacing: 6px;
	text-align: center;
}

.wrapper{
	display:block;
}

.skrito{
	display:none;
}

.bezcvet{
	background-color: transparent;
}

table{
	border-collapse: collapse;
	margin: 0 auto;
	min-width: 80%;
}

th {
	background-color: #26aeec;
	color: white;
	font-family: Arial, sans-serif;
	height: 1.8em;
}

td{
	font-family: Arial,sans-serif;
	text-align: center;
	color: #9eb1b1;
	font-weight: bold;
}

article{
	background-color: lightGray;
	margin-top: 10px;
	margin-bottom: 26px;
	border-radius: 20px 20px;
}

article a{
	color: #26aeec;
	font-weight: bold;
	padding: 3px;
	text-decoration: none;
}


.obuchenie a{
	color: #090903;
}

a.prsl{
	color: white;
	background-color: #26aeec;	
}
article a:hover{
	text-decoration: underline;
}

article .menu li{
	padding: 8px 18px;
	margin: 0;
}

article .menu a{
	text-align: center;
}

article .menu a:hover{
	text-align: center;
	background-color: #9eb1b1; //green
	color: #26aeec;
	border-radius: 0;
}

article a.title{
	color: #090903;
	background-color: lightGray;
}

article li{
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin-left: 20px;
}

.text p{
	font-family: Arial, sans-serif;
	padding: 4px 10px;
	margin-bottom: 20px;
}

.text{
	background-color: white;
	padding: 6px;
	color: #090903;
	border-radius: 0 0 20px 20px;
}

h1{
	text-align: center;
	font-weight: bold;
	padding: 5px;
	color: white;
	margin: 0px;
	color: #090903;
	letter-spacing: 0.5px;
}

.aktiv {
	background-color: #ADD8E6;
}

.obuchenie-bg{
	background-color: #003333;
}

.obuchenie-bg #mc_embed_signup{
	background-color: white;
}

.obuchenie-bg input[type="email"] {
    width: auto;
}

.obuchenie-bg #mc_embed_signup{
	padding:4px;
}

.obuchenie-bg input.button{

}

.obuchenie-bg label{
	font-size: 0.9em;
	padding: 0 30px;
	color: #003333;
	text-shadow: none;
	display: inline!important;
	text-transform: none;
	font-weight: normal;
	line-height: 1.3em;
}

.glavna label{
	padding: 0;
}

.otnosno{
	background-color: #ffcc00;
}

.otnosno #mc_embed_signup{
	background-color: #ffcc00;
}

.otnosno .subscribe{
	background-color: #ffcc00;
}

.obuchenie h1{
	color: white;
	min-height: 70px;
}

.obuchenie .nonclick{
	background-color: #9eb1b1;
}

.obuchenie article{
	background-color: #26aeec;
	color: white;
	border-radius: 20px 20px;
	min-height: 270px;
}

.obuchenie .text{
	min-height: 200px;
}

.prsl{	
	border-radius: 6px;
	padding: 10px;
}


.urok{
	padding: 0;
	margin: 0;
}

.obuchenie #mc_embed_signup{
	border-radius: 20px 20px;
	background-color: #26aeec;
	color: white;
	text-align: center;
}

.obuchenie #mc_embed_signup:hover{
	background: none;
}

.obuchenie label{
	color: white;
	font-size: 1.8em;
}

.moduli {
	width: 90%;
	max-width: 800px;
	margin: 30px auto;
}

h3{
	margin: 6px 0 4px 0;
	color: #26aeec;
	text-decoration: none;
	font-size: 2em;
	font-variant: small-caps;
	/*display: inline-block;*/
	padding: 12px;
	letter-spacing: 1px;
}

/*h3:hover{
	transform: rotate(-2deg);
	font-size: 1.5em;
}*/

.citation{
	color: #26aeec;
	font-size: 1.8em;
	font-family: sans-serif;
	font-weight: bold;
}

.primerentekst{
	margin: 0 40px 0 40px;
	background-color: #EBF7FD;
}

.blog{
	float: left;
	width: 60%;
	padding-left: 20px;
	padding-right:20px;
	margin: 20px 20px;
}

.subscribe{
	background-color: slategray; /*#EFF2FB*/
	width: 27%;
	padding-left: 6px;
	padding-right: 6px;
	border: 15px solid #26aeec;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.facebook, .paypal{
	margin-top: 30px;
}

.right{
	float:left;
	margin-right: 8px;
}

.materiali{
	background-color: #26aeec;
	color: white;
	font-family: sans-serif;
	text-align: center;
}

.obuchenie .right{
	max-width: 22%;
	margin: 20px 12px;
}

.center .right{
	max-width: 33%;
}

#mc_embed_signup{
	background: slategray;
	clear:left;
	font:1em Helvetica,Arial,sans-serif;
	padding:15px;
}

#mc_embed_signup:hover {
	background-image: url("../images/pisma.png");
}

input[type="email"]{
	height:2.5em;
	padding-left:6px;
	width:92%;
	margin: 0 auto;
	border-radius: 3px;
	/*border: #26aeec solid 2px;*/
}

label{
	font-size: 1.4em;
	color: white; /*darkRed: #8C1C1C*/
	text-shadow: 0 0 3px black;
	font-weight: bold;
	line-height: 1.6em;
	text-align: right;
	text-transform: uppercase;
}

footer{
	display: block;
	background-color: #2C2C2C;
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: white;
	clear: both;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.lp-footer{
	min-height: 140px;
	position:fixed;
}

.landingpage{
	display: block;
}

.landingpage #site-title{
	display:inline-block;
	font-size: 0.78em;
}

.landingpage #site-subtitle{
	display: inline-block;
}

.landingpage h1{
	color: white;
	font-family: sans-serif;
	font-size: 1.2em;
	/*padding-top: 1.5em;*/
}

.landingpage p{
	/*color: white;*/
	font-family: sans-serif;
}

.landingpage h4{
	text-align: center;
	color: slategray;
}

.landingpage a{
	color: #26aeec;
}

.showit {
    max-width: 46%;
    padding-left: 0;
    padding-right: 0;
}

/*article.showit{
	min-height: 450px;
}*/

.showit p{
    color: slategray;
}

.showit a{
	color: #090903;
}

.showit a:visited{
	color: #090903;
}

footer a{
	color: #26aeec;
}

.tagline, .razdel{
	text-align: center;
}

.sm-btn, input.button{
	margin-top: 6px;
	display:inline-block;
	border-radius:5px;
	text-align: center;
	text-decoration: none;
	color: #26aeec;
	background-color: white;
	border: 2px solid #26aeec;
	margin-left: 15px;
	padding: 7px 14px;
}

@media screen and (max-width: 700px){
	.right{
		display:inline-block;
		margin: 6px 4px;
	}

	.subscribe{
		width: 96%;
		margin-bottom: 10px;
	}

	article.showit{
		max-width: 100%;
		margin: 20px 0 20px 0;
	}

	.blog{
		display:inline-block;
		width: 100%;
		margin: 0;
	}

	#site-title{
		font-size: 0.8em;
	}
	a, .button{
		min-width: 48px;
		min-height: 48px;
	}
	.lp-footer{
		position: static;
	}

	.obuchenie .right{
		display: inline-block;
		max-width: 100%;
		min-height: 0;
	}

	.obuchenie .text{
		min-height: 0;
	}
}